/*================ Mobile Devices Media Queries Css Start ===============*/
@media only screen and (min-width: 320px) and (max-width: 479px){
	.main-contents{
		margin:0;
		padding: 0 15px;
	}
	.grid-mobile-margin{
		margin-bottom:18px;
	}
	.Overview-padding {
	    padding: 12px;
	}
	.main-contents h3{
		font-size:19px;
	}
	.Running-content i{
		font-size: 16px;
	}
	.Running-content p{
		font-size:14px;
	}
	.Running-content h5{
		font-size:16px;
	}
	.grid-mobile{
		margin-bottom:15px;
	}
	.margin {
	    margin-top: 31px;
	}
	.content-padding {
	    padding: 8px 3px;
	}
	.text-campaigns a {
    	font-size: 15px;
    }
    .Overview-channel p {
	    font-size: 15px;
	}
	.Overview-channel h2{
		font-size:25px;
	}
	.Overview-data h4{
		font-size:18px;
	}
	.margin-text {
	    margin-top: 8px;
	}
	.margin-rigt-side button{
		padding:2px 8px;
	}
	.margin-text span{
		font-size:11px;
	}
	.Running-content h4 > a{
		font-size:17px;
	}
	.title-signup h4{
		font-size:21px;
	}
	.title-call h4{
		font-size:21px;
	}
	.logo-image {
	    padding: 5px 95px;
	}
	.copyright-marign{
		margin-top:18px;
	}
	.mobile-title{
		margin-right: 80px;
	}
	.topmargin{
		margin-bottom:50px;
	}
}
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
    .logo-image {
	    padding: 5px 90px;
	}
}
@media screen and (max-height: 450px) {
  .mobilenav {padding-top: 15px;}
  .mobilenav a {font-size: 18px;}
}
/*================ Mobile Devices Media Queries Css End ===============*/

/*================ Tablet Devices Media Queries Css Start ===============*/
@media only screen and (min-width: 768px) and (max-width: 991px){ 
	.side-nav-icon{
		top: 8%;
    	max-width: 13%;
	}
	.main-contents {
	    margin: auto 64px;
    	padding: 5px 37px 5px 53px;
	}
	.grid-tablet-margin{
		margin-bottom:22px;
	}
	.content-padding {
	    padding: 8px 14px;
	}
	.title-signup h4{
		font-size:20px;
	}
	.title-call h4{
		font-size:20px;
	}
	.side-nav-icon ul >li {
    	padding: 7px;
    }
    .Overview-padding {
	    padding: 14px;
	}
	.chart-margin ul{
		margin-top:0;
	}
	.Overviews-padding {
	    padding: 20px 20px 30px;
	}
	.margin-top {
	    margin-top: 0;
	}
	.margin {
	    margin-top: 8px;
	}
	.logo-image {
	    padding: 5px 19px;
	}
	.Overview-channel h2{
		font-size:26px;
	}
	.Overview-channel p{
		font-size:15px;
	}
	.Overview-data h1{
		font-size:28px;
	}
	.Overview-data p{
		font-size:16px;
	}
	.copyright-marign{
		margin-top:35px;
	}
	.mobile-title{
		margin-right: 200px;
	}
	.Running-content p{
		font-size:16px;
	}
	.mobilenav .mobile-closebtn {
	    right: 11px;
	}
}
/*================ Tablet Devices Media Queries Css End ===============*/

/*================ Laptpp Devices Media Queries Css Start ===============*/
@media only screen and (min-width: 992px) and (max-width: 1024px){ 
	.side-nav-icon{
		max-width: 22%;
    	width: 10%;
	}
	.main-contents {
	    margin: auto 85px;
    	padding: 16px 30px 16px 45px;
	}
	.grid-tablet-margin{
		margin-bottom:25px;
	}
	.Overview-channel h2{
		font-size:22px;
	}
	.Overview-channel p{
		font-size:12px;
	}
	.Overview-data h1{
		font-size:28px;
	}
	.Overview-data p{
		font-size:12px;
	}
	.Overviews-padding {
	    padding: 20px 20px 9px;
	}
	.Running-content p{
		font-size:18px;
	}
	.side-nav-icon ul >li {
    	padding: 7px;
    }
    .top-navbar .navbar-right .dropdown-width{
		min-width:110px;
	}
    .top-navbar .navbar-right .dropdown-user{
		min-width:205px;
	}
}
/*================ Laptop Devices Media Queries Css End ===============*/

/*================ Mobile Devices Landscape Media Queries Css Start ===============*/
@media only screen and (max-width : 667px) and (orientation : landscape){
    .main-contents {
    	margin: auto !important;
    }
    .icon-menu{
    	width: 59px;
    	height: 46px;
    	padding: 9px 18px;
    	top:49%;
    }
    .sidenav a{
    	font-size: 13px;
    	padding:0;
    }
    .icon-chevron-right {
	    font-size: 29px;
	    width: 32px;
	    height: 30px;
	    margin-right: -25px;
    	margin-top: -21px;
    	border-radius: 14px 0 0 14px;
	}
	.topmargin{
		margin-bottom:75px;
	}
	.grid-tablet-margin{
		margin-bottom:20px;
	}
	.Running-margin{
		margin-bottom: 20px;
	}
	.grid-landspace{
		margin-bottom:20px;
	}
	.margin-top {
	    margin-top:0;
	}
	.margin {
	    margin-top: 12px;
	}
}
@media only screen and (max-width : 736px) and (orientation : landscape){
	.main-contents {
    	margin: auto !important;
    }
    .icon-menu{
    	width: 59px;
    	height: 46px;
    	padding: 9px 18px;
    	top:45%;
    }
    .sidenav a{
    	font-size: 13px;
    	padding:0;
    }
    .icon-chevron-right {
	    font-size: 29px;
	    width: 32px;
	    height: 30px;
	    margin-right: -25px;
    	margin-top: -21px;
    	border-radius: 14px 0 0 14px;
	}
	.topmargin{
		margin-bottom:75px;
	}
	.grid-tablet-margin{
		margin-bottom:20px;
	}
	.Running-margin{
		margin-bottom: 20px;
	}
	.grid-landspace{
		margin-bottom:20px;
	}
	.margin-top {
	    margin-top:0;
	}
	.margin {
	    margin-top: 12px;
	}
}
/*================ Mobile Devices Landscape Media Queries Css End ===============*/

/*================ Ipad Devices Portrait Media Queries Css Start ===============*/
@media only screen and (min-width : 768px) and (orientation : portrait){
	.side-nav-icon{
		top: 5%;
	}
	.main-contents {
    	margin: auto 63px;
    }
	.title-signup h4 {
	    font-size: 19px;
	}
	.Overviews-padding {
	    padding: 20px 20px 9px;
	}
}
/*================ Ipad Devices Portrait Media Queries Css End ===============*/

/*================ Ipad Devices Landscape Media Queries Css Start ===============*/
@media only screen and (max-width : 1024px) and (orientation : landscape){
	.mobile-custom>li>a{
		padding:10px 14px;
	}
	.main-contents {
    	margin: auto 84px;
    }
    .side-nav-icon{
		top: 7%;
	}
	.Overview-channel p {
	    font-size: 11px;
	}
}
/*================ Ipad Devices Landscape Media Queries Css End ===============*/