/*========= TABLE CONTENTS START============*/

	/*--- 1. Font Section ---*/
	/*--- 2. Navbar Section ---*/
	/*--- 3. Side-Nav Icon ---*/
	/*--- 4. Main Content View ---*/

/*========= TABLE CONTENTS END============*/

body{
	background-color:#f2f2f2;
}
/*--- 1. Font Section Start---*/
@font-face {
  font-family: Lato-Regular;
  src: url("../fonts/Lato-Regular.ttf") format("truetype");
}
@font-face {
  font-family: Lato-Light;
  src: url("../fonts/Lato-Light.ttf") format("truetype");
}
@font-face {
  font-family: Lato-Bold;
  src: url("../fonts/Lato-Bold.ttf") format("truetype");
}
@font-face {
  font-family: Lato-Hairline;
  src: url("../fonts/Lato-Hairline.ttf") format("truetype");
}
/*--- 1. Font Section End---*/

/*--- 2. Navbar Section Start---*/
.top-navbar{
	/*background-color:#3494e7;*/
	background: rgba(77,166,255,1);
	background: -moz-linear-gradient(-45deg, rgba(77,166,255,1) 0%, rgba(77,166,255,1) 3%, rgba(51,153,255,1) 37%, rgba(102,179,255,1) 100%);
	background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(77,166,255,1)), color-stop(3%, rgba(77,166,255,1)), color-stop(37%, rgba(51,153,255,1)), color-stop(100%, rgba(102,179,255,1)));
	background: -webkit-linear-gradient(-45deg, rgba(77,166,255,1) 0%, rgba(77,166,255,1) 3%, rgba(51,153,255,1) 37%, rgba(102,179,255,1) 100%);
	background: -o-linear-gradient(-45deg, rgba(77,166,255,1) 0%, rgba(77,166,255,1) 3%, rgba(51,153,255,1) 37%, rgba(102,179,255,1) 100%);
	background: -ms-linear-gradient(-45deg, rgba(77,166,255,1) 0%, rgba(77,166,255,1) 3%, rgba(51,153,255,1) 37%, rgba(102,179,255,1) 100%);
	background: linear-gradient(135deg, rgba(77,166,255,1) 0%, rgba(77,166,255,1) 3%, rgba(51,153,255,1) 37%, rgba(102,179,255,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4da6ff', endColorstr='#66b3ff', GradientType=1 );
	border:none;
	border-radius:0;
	margin-bottom:0;
}
.logo-image{
	padding:9px 19px;
}
.logo-image img{
	width:130px;
}
.user-icon{
	width:28px;
	height:28px;
}
.top-navbar .navbar-nav li > a{
	color:#e4dfdf;
	font-weight:500;
	line-height: 30px;
	font-family:Lato-Bold;
	-webkit-transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-o-transition:all 0.3s ease-in-out;
	transition:all 0.3s ease-in-out;
}
.top-navbar .navbar-nav li > a:hover{
	background-color:#1f5b93;
	color:#fff;
}
.top-navbar .navbar-nav li > a:focus{
	background-color:#1f5b93;
	color:#fff;
}
.active-class{
	background-color:#1f5b93;
	color:#fff !important;
}
.top-navbar .navbar-nav > .open >a, .top-navbar .navbar-nav>.open >a:focus{
	background-color:#1f5b93;
}
.top-navbar .dropdown-menu{
	padding-top:0;
	padding-bottom:0;
	border-color:#3494e7;
}
.top-navbar .dropdown-menu li >a{
	background-color:#1f5b93;
	color:#e4dfdf;
	font-family:Lato-Regular;
	padding:3px 21px;
	font-weight:500;
	-webkit-transition:all 0.4s ease-in-out;
	-moz-transition:all 0.4s ease-in-out;
	-o-transition:all 0.4s ease-in-out;
	transition:all 0.4s ease-in-out;
}
.top-navbar .dropdown-menu li >a:hover{
	background-color:#3494e7;
	color:#fff;
}
.top-navbar .navbar-right .dropdown-width{
	min-width:140px;
}
.top-navbar .navbar-right .dropdown-user{
	min-width:207px;
}
/*.onhover:hover .dropdown-menu{
	display: block;
}*/
.color-yellow{
	color:#ffff00;
}
.bold-font{
	font-weight: 600;
}
/*--- 2. Navbar Section Ends---*/

/*--- 3. Side-Nav Icon Start---*/
.main-margin{
	margin-top:60px;
}
.side-nav-icon{
	/*background-color:#333333;*/
	background: rgba(102,102,102,1);
	background: -moz-linear-gradient(-45deg, rgba(102,102,102,1) 0%, rgba(76,76,76,1) 0%, rgba(71,71,71,1) 0%, rgba(89,89,89,1) 0%, rgba(44,44,44,1) 0%, rgba(19,19,19,1) 0%, rgba(28,28,28,1) 94%, rgba(17,17,17,1) 100%);
	background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(102,102,102,1)), color-stop(0%, rgba(76,76,76,1)), color-stop(0%, rgba(71,71,71,1)), color-stop(0%, rgba(89,89,89,1)), color-stop(0%, rgba(44,44,44,1)), color-stop(0%, rgba(19,19,19,1)), color-stop(94%, rgba(28,28,28,1)), color-stop(100%, rgba(17,17,17,1)));
	background: -webkit-linear-gradient(-45deg, rgba(102,102,102,1) 0%, rgba(76,76,76,1) 0%, rgba(71,71,71,1) 0%, rgba(89,89,89,1) 0%, rgba(44,44,44,1) 0%, rgba(19,19,19,1) 0%, rgba(28,28,28,1) 94%, rgba(17,17,17,1) 100%);
	background: -o-linear-gradient(-45deg, rgba(102,102,102,1) 0%, rgba(76,76,76,1) 0%, rgba(71,71,71,1) 0%, rgba(89,89,89,1) 0%, rgba(44,44,44,1) 0%, rgba(19,19,19,1) 0%, rgba(28,28,28,1) 94%, rgba(17,17,17,1) 100%);
	background: -ms-linear-gradient(-45deg, rgba(102,102,102,1) 0%, rgba(76,76,76,1) 0%, rgba(71,71,71,1) 0%, rgba(89,89,89,1) 0%, rgba(44,44,44,1) 0%, rgba(19,19,19,1) 0%, rgba(28,28,28,1) 94%, rgba(17,17,17,1) 100%);
	background: linear-gradient(135deg, rgba(102,102,102,1) 0%, rgba(76,76,76,1) 0%, rgba(71,71,71,1) 0%, rgba(89,89,89,1) 0%, rgba(44,44,44,1) 0%, rgba(19,19,19,1) 0%, rgba(28,28,28,1) 94%, rgba(17,17,17,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#666666', endColorstr='#111111', GradientType=1 );
	text-align: center;
	padding:0;
	max-width:7.33%;
}
.side-nav-icon{
	position: fixed;
	z-index:1;
	height: 100%;
}

.side-nav-icon ul{
	list-style: none;
	padding:0;
}
.side-nav-icon ul >li{
	padding:12px;
	border-bottom:1px solid rgba(14, 13, 13, 0.97);
}
.side-nav-icon ul > li > a{
	color:#969596;
	font-weight: 600;
	text-decoration: none;
	font-family:Lato-Regular;
	letter-spacing: 0.6px;
	-webkit-transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-o-transition:all 0.3s ease-in-out;
	transition:all 0.3s ease-in-out;
}
.side-nav-icon ul > li > a:hover{
	color:#fff;
}
.side-nav-icon ul > li > a > i{
	font-size:26px;
}
.side-nav-icon ul > li > a > p > span{
	text-transform:uppercase;
	font-size:10px;
}
.side-nav-icon ul > li > a > p{
	margin-bottom:0;
}
.color-orange{
	color:#f3a139;
}
/*--- 3. Side-Nav Icon End---*/
	
/*--- 4. Main Content View Start---*/
.main-contents{
	margin:auto auto auto 102px;
	padding: 16px 37px;
}
.main-contents h3{
	margin-top:8px;
	margin-bottom:15px;
	letter-spacing: 1px;
	font-family:Lato-Regular;
	color:#111;
}
.boardcast-image img{
	width:100%;
	height: 50px;
}
.main-content-items{
	background-color:#fff;
	border-radius: 4px;
	
}
.main-box-shadow{
	-webkit-box-shadow: 0 3px 4px #d8d6d6;
    -moz-box-shadow: 0 3px 4px #d8d6d6;
    box-shadow: 0 3px 4px #d8d6d6;
    -webkit-transition:all 0.4s ease-in-out;
	-moz-transition:all 0.4s ease-in-out;
	-o-transition:all 0.4s ease-in-out;
	transition:all 0.4s ease-in-out;
}
.main-content-items i{
	color:#3494e7;
	font-size:18px;
}
.main-box-shadow:hover{
	box-shadow: 0 8px 10px #d8d6d6;
}
.padding-content{
	padding:25px;
}
.title-call h4{
	margin-top:12px;
    font-size: 21px;
    font-family: Lato-Regular;
}
.title-sms h4{
	margin: 0;
    font-size: 23px;
    font-family: Lato-Regular;
}
.title-voice h4{
	margin:0;
	font-size: 23px;
	font-family: Lato-Regular;
}
.title-signup h4{
	margin-top:12px;
    font-size: 21px;
    font-family: Lato-Regular;
}
.margin-top{
	margin-top:15px;
}
.grey-bgcolor{
	background-color:rgb(245, 245, 245);
}
.icon-padding{
	padding: 9px 11px 0;
}
.color-call-center{
	width: 60px;
    height: 56px;
    font-size: 57px !important;
    color: #fff !important;
    background-color:#3690e6;
    border-radius:5px;
}
.color-sms-boardcast{
	width: 65px;
    height: 56px;
    font-size: 57px !important;
    color: #fff !important;
    background-color:#f3a139;
    border-radius:5px;
}
.color-voice-boardcast{
	width: 65px;
    height: 56px;
    font-size: 57px !important;
    color: #fff !important;
    background-color:#b4bf25;
    border-radius:5px;
}
.color-sms-signup{
	width: 65px;
    height: 56px;
    font-size: 57px !important;
    color: #fff !important;
    background-color:#55bdc6;
    border-radius:5px;
}
.button-padding{
	padding:11px;
}
.content-padding{
	padding:10px 15px;
}
.btn-start{
	background:#3690e6;
	color:#fff;
	padding:5px 25px;
	font-family:Lato-Regular;
	border-color:#3690e6;
	-webkit-transition:all 0.4s ease-in-out;
	-moz-transition:all 0.4s ease-in-out;
	-o-transition:all 0.4s ease-in-out;
	transition:all 0.4s ease-in-out;
}
.btn-start:hover{
	background:#114e88;
	color:#fff;
	border-color:#114e88;
}
.btn-start:active{
	background:#114e88;
	color:#fff;
	border-color:#114e88;
}
.btn-start:focus{
	background:#114e88;
	color:#fff;
	border-color:#114e88;
	outline:none;
}
.text-decoration a:nth-child(2){
	text-decoration:none;
	color:#3690e6;
	font-size:17px;
	margin-left:10px;
	font-family:Lato-Light;
	-webkit-transition:all 0.4s ease-in-out;
	-moz-transition:all 0.4s ease-in-out;
	-o-transition:all 0.4s ease-in-out;
	transition:all 0.4s ease-in-out;
}
.text-decoration a:nth-child(2):hover{
	color:#114e88;
}
.margin-top{
	margin-top: 22px;
}
.margin{
	margin-top:35px;
}
.text-campaigns a{
	font-size: 16px;
	color:#3690e6;
	font-family:Lato-Regular;
	-webkit-transition:all 0.4s ease-in-out;
	-moz-transition:all 0.4s ease-in-out;
	-o-transition:all 0.4s ease-in-out;
	transition:all 0.4s ease-in-out;
	text-decoration:none;
	cursor: pointer;
}
.text-campaigns a:hover{
	color:#114e88;
}
.Overview-content{
	background-color:#fff;
}
.Overview-padding{
	padding:20px;
}
.Overview-data h4{
	font-family: Lato-Regular;
	margin:8px 0;
	font-size:20px;
	color:#8c8c8c;
}
.Overview-data h1{
	color:#f3a139;
	font-family: Lato-Bold;
	margin:8px 0;
}
.Overview-data p{
	font-family: Lato-Regular;
	color:#8c8c8c;
	font-size: 16px;
}
.Overview-channel h4{
	color:#8c8c8c;
	font-family: Lato-Regular;
	margin:8px 0;
	font-size:20px;
}
.Overview-channel h2{
	margin:7px 0;
	font-family: Lato-Bold;
	color:#262626;
}
.Overview-channel p{
	font-family: Lato-Regular;
	color:#8c8c8c;
	font-size: 17px;
}
.Overview-box-shadow{
	border-radius: 4px;
	-webkit-box-shadow: 0 3px 4px #d8d6d6;
    -moz-box-shadow: 0 3px 4px #d8d6d6;
    box-shadow: 0 3px 4px #d8d6d6;
    -webkit-transition:all 0.4s ease-in-out;
	-moz-transition:all 0.4s ease-in-out;
	-o-transition:all 0.4s ease-in-out;
	transition:all 0.4s ease-in-out;
}
.Overview-Icons a{
	margin:7px;
	border:1px solid #8c8c8c;

}
.Overview-Icons i{
	vertical-align: bottom;
	font-size: 16px;
}
.margin-text{
	margin-top:11px;
}
.margin-rigt-side{
	margin-top:0px;
}
.btn-white{
	background-color:transparent;
	border:1px solid #8c8c8c;
	color:#8c8c8c;
	-webkit-transition:all 0.4s ease-in-out;
	-moz-transition:all 0.4s ease-in-out;
	-o-transition:all 0.4s ease-in-out;
	transition:all 0.4s ease-in-out;
}
.btn-white:hover{
	background-color:transparent;
	color:#3690e6
}
.btn-white:active{
	background-color:transparent;
	color:#3690e6
}
.btn-white:focus{
	background-color:transparent;
	color:#3690e6
}
.margin-text span{
	color:#8c8c8c;
	font-family: Lato-Regular;
}
.blue-color h2{
	color:#3690e6;
}
.blue-color p{
	color:#3690e6;
}
.text-campaigns a > i{
	vertical-align: middle;
}
.Running-content i{
	vertical-align: middle;
	font-size:18px;
}
.color-blue{
	color:#75d1f0;
}
.Running-content h4 > a{
	color:#42c0eb;
	font-family: Lato-Regular;
	font-size:20px;
	text-decoration: none;
	cursor: pointer;
	-webkit-transition:all 0.4s ease-in-out;
	-moz-transition:all 0.4s ease-in-out;
	-o-transition:all 0.4s ease-in-out;
	transition:all 0.4s ease-in-out;
}
.Running-content h4 > a:hover{
	color:#138fb9;
}
.Running-content h5{
	font-size:18px;
	font-family: Lato-Regular
}
.Running-content sub{
	font-size:13px;
	color:#8c8c8c;
	font-family: Lato-Light;
}
.Running-content p{
	color:#333333;
	font-family: Lato-Light;
	font-size:18px;
}
.Running-content p > a{
	color:#42c0eb;
	font-family: Lato-Regular;
	font-size: 16px;
	cursor: pointer;
	text-decoration: none;
	-webkit-transition:all 0.4s ease-in-out;
	-moz-transition:all 0.4s ease-in-out;
	-o-transition:all 0.4s ease-in-out;
	transition:all 0.4s ease-in-out;
}
.Running-content p > a:hover{
	color:#138fb9;
}
.Running-margin{
	margin-bottom:15px;
}
.chart {
  display: inline-block;
  width: 115px;
  height: 115px;
  margin: 0 10px;
  vertical-align: top;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 43px;
}
.chart span {
  display: block;
  font-size:21px;
  font-family: Lato-Light;
  font-weight: normal;
}
.chart canvas {
  position: absolute;
  left: 0;
  top: 0;
}
.chart-margin ul{
	margin-top:17px;
	padding-left:0;
}
.chart-margin p{
	font-size: 16px;
	color:#333333;
	font-family: Lato-Light;
}
.drop-rate-margin ul{
	margin-top:30px;
	padding-left:0;
}
.drop-rate-margin p{
	font-size: 16px;
	color:#333333;
	font-family: Lato-Light;
}
.color-darkblue{
	color: #fff;
    background-color: #138fb9;
    padding: 1px 4px;
    border-radius: 3px;
}
.icon-size{
	font-size:16px !important;
}
.message{
	color:#fff;
	padding:1px 4px;
	background-color: #f3a139;
	border-radius: 3px;
}
.message-louder{
	color:#fff;
	padding:1px 4px;
	background-color: #b4bf25;
	border-radius: 3px;
}
.grid-image img{
	width:100%;
	border-radius: 5px;
}
.Overviews-padding{
	padding: 20px 20px 9px;
}
.grid-content h4{
	font-family: Lato-Regular;
	color:#262626;
	font-size:20px;
}
.grid-content p{
	font-family: Lato-Light;
	text-align: justify;
	font-size:15px;
}
.grid-content a{
	text-decoration: none;
	font-family: Lato-Regular;
	color:#42c0eb;
	font-size:16px;
	cursor: pointer;
	-webkit-transition:all 0.4s ease-in-out;
	-moz-transition:all 0.4s ease-in-out;
	-o-transition:all 0.4s ease-in-out;
	transition:all 0.4s ease-in-out;
}
.grid-content a:hover{
	color:#138fb9;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 3;
    top:47px;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}
.sidenav a {
    padding: 3px 5px;
    text-decoration: none;
    font-size: 13px;
    color: #818181;
    display: block;
    transition: 0.3s;
    text-align: center;
}
.sidenav a:hover, .offcanvas a:focus{
    color: #fff;
}
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
.icon-menu{
	float: left;
    color: #fff;
    width: 49px;
    height: 35px;
    background-color: #138fb9;
    padding: 3px 13px;
    margin-right: 15px;
    box-shadow: 0 2px 3px #8e9496;
    position: fixed;
    font-size: 19px;
    left: 0;
    top:16%;
    z-index: 1;
    border-top-right-radius: 13px;
    border-bottom-right-radius: 13px
}
.icon-menu i{
	vertical-align: middle;
}
.mobilenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.mobilenav a {
    padding:12px 33px;
    text-decoration: none;
    font-size: 18px;
    color: #111;
    display: block;
    transition: 0.3s;
}
.mobilenav a:hover, .offcanvas a:focus{
    color: #138fb9;
}
.mobilenav .mobile-closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
.mobile-menu{
	font-size: 19px;
    cursor: pointer;
    position: fixed;
    top: 10px;
    right: 30px;
    padding: 4px 4px;
    background-color: #fff;
    border-radius: 20px;
    width: 32px;
    height: 32px;
    box-shadow: 0 2px 8px #337ab7;
}
.copyright-marign{
	margin-top:50px;
}
.copyright-marign p{
	font-family: Lato-Light;
	color:#8c8c8c;
}
.mobile-title{
	margin-right: 35px;
    color: #5e95cc;
    font-family: Lato-Light;
}
.icon-chevron-right{
	color: #fff;
    font-size: 34px;
    width: 34px;
    height: 33px;
    background-color: #138fb9;
    vertical-align: middle;
    border-radius: 20px;
}
/*--- 4. Main Content View End---*/